@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Playwrite';
  src: url('/fonts/Playwrite_DE_SAS/static/PlaywriteDESAS-Regular.ttf') format('woff2');
  font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-image: linear-gradient(174.2deg, rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4%);
    background-repeat: no-repeat;
    padding-bottom: 2.5rem;
}

.header-navigation {
    background-image: linear-gradient(#f5f5f5, #faf0e6);
    padding-block: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}

.header-navigation ul {
    position: relative;
    display: flex;
    gap: 2.5rem;
    margin: 0 2rem 0 2rem;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.other-logo {
    display: flex;
    gap: 0.5rem;
}

.other {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 30%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

:is(#home, #home:visited) {
    font-size: 1.8rem;
    color: #20402d;
}

:is(.other img, .other img:visited) {
    width: 2rem;
    height: 2rem;
    filter: invert(15%) sepia(90%) saturate(7000%) hue-rotate(135deg) brightness(20%) contrast(60%);
}

.other:hover {
    background-color: #e9e8e8;
}

.celestial-logo {
  flex-shrink: 0;
  min-width: 0;
  margin-left: 2.5rem;
}

:is(.celestial-logo a, .celestial-logo a:visited) {
    position: relative;
    text-decoration: none;
    color: #007A70;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
    font-family: 'Playwrite', sans-serif;
}

.hamburger-menu, .menu {
    position: relative;
}

#check {
    display: none;
}

.checkbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.bars {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.2rem 0;
    transition: all 0.3s ease;
    position: relative;
}

.bars, .bars::after {
    background-color: #0e635c;
}

.bars::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    transition: all 0.3s ease;
}

.bars::after {
    top: 0.8rem;
}

#check:checked + .checkbtn .bars {
    transform: rotate(45deg);
    top: 0;
}

#check:checked + .checkbtn .bars::after {
    transform: rotate(-90deg);
    top: 0;
}

.recipe-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -0.2rem 0 0.9rem #0b59191a;
    padding: 5rem 2rem 2.5rem;
    transition: left 0.3s ease;
    z-index: 10;
    overflow-y: auto;
}

#check:checked ~ .recipe-menu {
    left: 0;
}

.recipe-menu > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    padding: 0.75rem;
    transition: all 0.3 ease;
    margin-bottom: 0.5rem;
}

.recipe-menu h3 {
  margin-block: 1.5rem;
  font-family: serif;
  color: #0e635c;
  font-size: 2rem;
}

.recipe-menu a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #0e635c;
  font-weight: 700;
}

.border-bottom {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 0;
    transition: all 0.3s ease;
}

.border-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.18rem;
    background: linear-gradient(90deg, #007A70, #00b3a1, #007A70);
    transition: width 0.4s ease;
    border-radius: 10%;
}

.border-bottom:hover:after {
    width: 100%;
}

.recipe-menu > div:hover {
    background: #f4fdff;
}

.recipe-menu img {
  width: 7rem;
  height: 5rem;
  border-radius: 10%;
}

.main-course {
    text-align: center;
    font-size: 3rem;
    font-family: 'Playwrite', sans-serif;
    color: #007A70;
    padding-top: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.text-container {
    max-width: 75rem;
    margin: 2.5rem auto;
    padding: 0 2rem;
}

.text-container .content {
    background-image: url("../assets/bg-image/cooking-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10%;
}

.text-container .content > * {
    position: relative;
    z-index: 2;
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.3rem #313a03;
    font-family: 'Montserrat', sans-serif;
}

.main-course-definition {
    color: #8a8989;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    text-align: center;
    text-wrap: wrap;
}

.check-out {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    font-weight: 400;
    max-width: 32rem;
    margin-inline: auto;
}

.text-container .content p:last-of-type {
    font-weight: 500;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border-left: 0.3rem solid #b7e19d;
}

.recommended-section {
    margin: 1.5rem 2rem;
}

.heading-container {
    display: flex;
    margin-top: 1.2rem;
    gap: 0.2rem;
    justify-content: center;
    margin-inline: 3.5rem;
}

.top-pick-heading {
  text-align: center;
  font-family: "Montserrat", serif;
}

.top-line {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    color: #007A70;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    position: relative;
    margin-bottom: 0.5rem;
}
.top-line::after {
    content: "";
    position: absolute;
    bottom: -0.1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #007A70, #bffbf6);
}

.bottom-line {
    display: block;
    font-size: 1.5rem;
    color: #7f8c8d;
    font-style: italic;
    letter-spacing: 0.1rem;
}

.recommended-section, .recommended-img {
    display: flex;
    gap: 1rem;
}

.recommended-img {
    justify-content: center;
}

.recommended-card {
    position: relative;
    width: 21rem;
    height: 15rem;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

.recommended-card:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.recommended-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.recommended-card:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #1f9188, #52aea7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    border-radius: 20%;
}

.recommended-card:hover .overlay {
    opacity: 1;
}

.overlay .text {
    color: #fff;
    font-family: 'Playwrite', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem;
    text-shadow: 1px 1px 3px #333;
    transform: translateY(1rem);
    transition: transform 0.4s ease;
}

.youtube-title {
    text-align: center;
    text-align: center;
    font-family: 'Playwrite', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 3.5rem;
    color: #d6fffc;
    margin-bottom: 3.5rem;
    text-shadow: 0 -20px 80px, 0 0 2px, 0 0 1em #1f9188, 
        0 0 0.3em #1f9188, 0 0 0.1em #1f9188, 0 10px 3px #1f9188;
}

.youtube-shorts-videos {
    padding: 2.5rem;
    margin: 2rem auto;
    max-width: 100rem;
   background: linear-gradient(to bottom,
        rgba(0, 122, 112, 0.01) 0%,
        rgba(48, 164, 154, 0.3) 20%,
        rgba(0, 122, 112, 0.6) 50%,
        rgba(0, 122, 112, 0.3) 80%,
        rgba(0, 122, 112, 0.02) 100%
    );
}

.short-item {
    margin-bottom: 1rem;
    overflow: hidden;
}

.short-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.short-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 177.77%; 
}

.short-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5%;
}

.btn-secondary {
    background: linear-gradient(135deg, #00A8A8, #4dbb96);
    border: none;
    transform: scale(1.5);
    font-weight: 600;
    font-size: 2.5rem;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    box-shadow: 0 4px 12px rgba(0, 122, 112, 0.3);
}

.all-recipes h3 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Georgia', serif;
    color: #fff;
    text-shadow: 0 -20px 80px, 0 0 2px, 0 0 1em #1f9188, 
    0 0 0.3em #1f9188, 0 0 0.1em #1f9188, 0 10px 3px #1f9188;
    margin-top: 4.5rem;
    margin-bottom: 2.5rem;
    animation: flicker 1.5s infinite alternate;
}

.blink {
    animation: blink linear infinite 2s;
}

.long-blink {
    animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #1e8a7a;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #1e8a7a;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #1e8a7a;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.recipe-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 2rem;
    gap: 2rem;
}

.recipe-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    cursor: pointer;
    display: block;
}

.card-image {
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.recipe-section .card:hover {
    transform: translateY(-0.5rem);
    transition: transform 0.6s ease;
}

:is(.card, .card a:visited) {
    background-color: #fff;
    border-radius: 20%;
    overflow: hidden;
    box-shadow: 0 0.625rem 2rem rgba(0,0,0,0.08);
    transition: box-shadow 0.2s ease;
    text-align: center;
    max-height: 25rem;
    display: flex;
    flex-direction: column;
    animation: rainbow-border 3s infinite;
}

@keyframes rainbow-border {
    0% {
        border: 3px solid #007A70;
    }
    25% {
        border: 3px solid #00b3a1;
    }
    50% {
        border: 3px solid #b7e19d;
    }
    75% {
        border: 3px solid #52aea7;
    }
    100% {
        border: 3px solid #007A70;
    }
}

.card text {
    padding: 1rem 2rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

:is(.card a, .card a:visited) {
    text-decoration: none;
    color: #007A70;
    font-weight: 600;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0.5rem;
    transition: color 0.2s ease;
}

.card p {
    font-size: 1.2rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    opacity: 0.5;
    margin-bottom: 2rem;
}

.footer {
  margin: 2.5rem;
  text-align: center;
}

.footer h3 {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #007A70;
}

@media screen and (max-width: 1024px) {

  .bars, .bars::after {
      margin-bottom: 0.8rem;
  }

  .recommended-section {
      display: flex;
      justify-content: center;
  }

  .recipe-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .top-line {
      font-size: 3.5rem;
  }

  .bottom-line {
      font-size: 2.5rem;
  }

  .heading-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .recommended-img {
      flex-direction: column;
      align-items: center;
  }

  .recommended-card {
      width: 100%;
      max-width: 25rem;
  }

  .card a {
    text-decoration: none;
    color: #007A70;
    font-weight: 600;
    font-size: 1.7rem;
    display: block;
    margin-bottom: 0.5rem;
    transition: color 0.2s ease;
  }

  .card p {
      font-size: 1.4rem;
      color: #333;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      margin-bottom: 2rem;
      opacity: 0.5;
  }

  .card text {
    padding: 2rem;
  }
}

@media screen and (max-width: 960px) {

  .recipe-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .top-line {
      font-size: 3.5rem;
  }

  .bottom-line {
      font-size: 2.5rem;
  }

  .heading-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .recommended-img {
      flex-direction: column;
      align-items: center;
  }

  .recommended-card {
      width: 100%;
      max-width: 25rem;
  }

  .card a {
    text-decoration: none;
    color: #007A70;
    font-weight: 600;
    font-size: 1.7rem;
    display: block;
    margin-bottom: 0.5rem;
    transition: color 0.2s ease;
}

.card p {
    font-size: 1.4rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
    opacity: 0.5;
}

.card text {
  padding: 2rem;
}
}

@media screen and (max-width: 768px) {

   body {
    overflow-x: hidden;
  }

  .main-course {
      font-size: 2.5rem;
  }

  .main-course-definition {
      font-size: 0.8rem;
      margin: 0 1.5rem;
  }

  .check-out {
    font-size: 1.1rem;
    max-width: 28rem;
    margin-bottom: 0.8rem;
  }


  .text-container .content {
      height: 25rem;
      border-radius: 6%;
      padding: 1.5rem;
  }

  .text-container .content p:last-of-type {
      font-size: 1.1rem;
      padding: 0.8rem 1.2rem;
      border-left: 0.25rem solid #b7e19d;
      margin: 0 1rem;
      max-width: 95%;
  }

  .recommended-section {
      margin: 1rem 0.5rem;
      display: flex;
      flex-direction: column;
  }

  .heading-container {
     margin-inline: 1rem;
     margin-top: 1rem;
     flex-direction: column;
     gap: 0.5rem;
  }

  .top-line {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      margin-bottom: 0.3rem;
  }

  .top-line::after {
      width: 5.5rem;
      height: 0.15rem;
  }

  .recommended-img {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
  }

  .recommended-card {
      width: 20rem;
      height: 8rem; 
  }

  .overlay .text {
      font-size: 1.2rem;
  }

  .header-navigation {
    padding-block: 1rem;
    box-sizing: border-box;
  }

  .header-navigation ul {
      margin: 0 1rem;
      gap: 1rem;
  }

  .celestial-logo {
      margin-left: 2rem;
      flex: 1;
      align-items: center;
  }

  :is(.celestial-logo a, .celestial-logo a:visited) {
      font-size: 1.5rem;
      max-width: 150px;
  }

  .other-logo {
      gap: 0.25rem;
  }

  .other {
      width: 2rem;
      height: 2rem;
  }

  :is(#home, #home:visited) {
      font-size: 1.3rem;
  }

  :is(.other img, .other img:visited) {
      width: 1.6rem;
      height: 1.6rem;
  }

  .checkbtn {
      width: 2rem;
      height: 2rem;
  }

  .bars {
      width: 2rem;
  }

  .bars::after {
      width: 2rem;
  }

  .youtube-shorts-videos {
        padding: 2.5rem 2.5rem;
    }
    
  .youtube-title {
      font-size: 2.4rem;
  }
    
  .short-video iframe {

      height: 300px;
      border-radius: 0;
  }

  .recipe-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .card a {
    text-decoration: none;
    color: #007A70;
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
    transition: color 0.2s ease;
}

.card p {
    font-size: 1rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    opacity: 0.5;
    margin-bottom: 1rem;
}

  .card text {
    padding: 2rem;
  }

 .footer {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 480px) {

    .header-navigation ul {
        margin: 0 0.1rem;
        gap: 0.5rem;
    }

    :is(.celestial-logo a, .celestial-logo a:visited) {
        font-size: 1.2rem;
        max-width: 120px;
    }

    .other-logo {
        gap: 0.15rem;
    }

    .other {
        width: 1.8rem;
        height: 1.8rem;
    }

    #home {
        font-size: 1.2rem;
    }

    :is(.other img, .other img:visited) {
        width: 1.4rem;
        height: 1.4rem;
    }

    .bars, .bars::after {
        width: 1.5rem;
        height: 0.2rem;
        margin-bottom: 1rem;
    }

    .text-container .content {
        height: 20rem;
        border-radius: 5%;
        padding-top: 1.5rem;
    }

    .text-container .content p:last-of-type {
        margin: 6.5rem 0 1rem 0;
        font-size: 0.7rem;
        padding: 0.7rem 1rem;
        border-left: 0.2rem solid #b7e19d;
        border-radius: 5%;
    }

    .check-out {
        font-size: 1rem;
        line-height: 1.6;
        max-width: 90%;
        margin-bottom: 0.5rem;
        padding: 0 1rem;
    }

    .youtube-shorts-videos {
        padding: 1.5rem 0.5rem;
    }
    
    .youtube-title {
        font-size: 2.2rem;
    }
    
    .short-video iframe {
        height: 350px;
    }

    .recipe-section {
        grid-template-columns: 1fr;
    }

    .overlay .text {
      font-size: 0.8rem;
    }
            
    .header-navigation ul {
      padding: 0.75rem;
    }

    .celestial-logo {
        display: block;
        margin: 0 1.2rem;
    }
            
    :is(.celestial-logo a, .celestial-logo a:visited) {
        font-size: 1rem;
    }

    .recipe-menu {
        width: 200px;
        padding: 3rem 1rem 1.5rem;
    }

    .recipe-menu a {
      font-size: 0.7rem;
    }

    .recipe-menu h3 {
        font-size: 1.2rem;
        margin-top: 2.5rem;
        margin-bottom: 0.2rem;
    }

    .recipe-menu img {
        width: 5rem;
        height: 3rem;
    }
            
    .other {
        width: 32px;
        height: 32px;
    }
            
    .other img {
        width: 18px;
        height: 18px;
    }

    :is(.card a, .card a:visited) {
        font-size: 1.2rem;
        display: block;
    }

    .footer {
        font-size: 0.8rem;
    }

}
