@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Playwrite';
  src: url('/fonts/Playwrite_DE_SAS/static/PlaywriteDESAS-Regular.ttf') format('woff2');
  font-weight: bold;
}

body {
    font-family: 'Montserrat';
    background-image: linear-gradient(174.2deg, rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4%);
    background-attachment: fixed;

}

/* ---------------left--------------- */

.form_box{
    display: flex;
    margin: 5rem auto;
    width: 62rem;
    border: 2px solid;
    border-radius: 2.5rem;
    box-shadow: 0 0 2rem ;
}

#left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
}

#head{
    text-align: center;
    margin-bottom: 2rem;
}

#details{
    font-weight:500;
    color: grey;
}


#all_left{
    padding: 0px 1.5rem;
}

.form_login{
    display: flex;
    flex-direction: column;;
    font-weight: 800;
}

.email,
.password{
    margin: 0.8rem 0.5rem;
}


.form_login input[type ="email"],
.form_login input[type ="password"]{
    padding: 0.8rem 0.7rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: 1px solid gray;
    outline: none;
    box-shadow: 0 0.5rem 1rem rgb(192, 184, 184);
}

.form_login input[type ="email"]:invalid,
.form_login input[type ="password"]:invalid{
    border: 2px solid red;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin-top: 1rem;
}

#footer label{
    margin-right: 7.5rem;
}

#footer a{
    text-decoration: none;
}

#or{
    display: flex;
    align-items: center;
    text-align: center;
    color: grey;
    font-weight: 400;
    margin-bottom: 2rem;
}

#or::before,
#or::after{
  content: "";
  flex: 1;
  border-bottom: 1px solid #aaa;
}

#or::before{
    margin-right: 0.5rem;
}

#or::after{
    margin-left: 0.5rem;
}

.container_gambar{
    margin-top: 1rem;   
    display: flex;
    justify-content: space-around;
}


#sign_up{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    margin-bottom: 1rem;
}

#button{
    margin:1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.8rem 0;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 1rem;
    text-decoration: none;
    box-shadow: 0 0.5rem 1.5rem rgb(192, 184, 184);
}

/* right */
#right{
    width: 50%;
    padding: 2rem;
    border: 2px solid;
    display: flex;
    flex-direction: column;
}

.head_right{
    text-align: center;
    margin-bottom: 2rem;
}

.form_signup{
    display: flex;
    flex-direction: column;
    font-weight: 800;
}

.username,
.email_signup,
.password_signup{
    margin: 0.8rem 0.5rem;
}

.form_signup input[type ="text"],
.form_signup input[type ="email"],