@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Playwrite';
  src: url('/fonts/Playwrite_DE_SAS/static/PlaywriteDESAS-Regular.ttf') format('woff2');
  font-weight: bold;
}

body {
    font-family: 'Montserrat';
}

/* ---------------left--------------- */

.form_box{
    display: flex;
    margin: 5rem auto;
    width: 62rem;
    border: 2px solid;
}

#left{
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
}

#head{
    text-align: center;
    margin-bottom: 2rem;
}

#details{
    font-weight:500;
    color: grey;
}


#all_left{
    padding: 0px 1.5rem;
}

#form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 1.5rem 0 0.5rem 0.5rem;
    font-weight: 800;
}

input[type ="email"],
input[type ="password"]{
    padding: 0.8rem 0.7rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: 1px solid gray;
    outline: none;
}

/* right */
#right{
    width: 50%;
    border: 2px solid orange;
}